<div class = "container warpper-container">
      <nav class = "navbar navbar-default" role="navigation">
            <div class="container-fluid">
                  <div class="navbar-header">
                        <a class="navbar-brand" [routerLink]="['/home']">Home</a>
                        <a class="navbar-brand" [routerLink]="['/detail']">Detail</a>
                  </div>

                  <div>
                        <ul class ="nav navbar-nav">
                              <li routerLinkActive="active">
                                    <a [routerLink]="['courses']">list</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </nav>

      <router-outlet></router-outlet>

</div>