
        nav{
            background-color:#47bdec;
        }
        nav a{
            display:inline-block;
            padding:10px;
            font-size:20px;
            color:white;
            text-decoration:none;
        }
        nav a:hover{
            background-color:#333;
        }

    /* You can add global styles to this file, and also import other style files */
